$primary-color: #007bff;
$light-grey: #f0f0f0;

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  padding: 0;
  background: white;
}

.navbar-nav {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.container-fluid {
  overflow: visible !important;
}

.nav-item {
  flex: 1;
  text-align: center;
  position: relative;
  background: transparent;
  transition: background 0.3s ease;

  &:hover {
    background: $light-grey;
  }
}


.nav-item {
  .icon-wrapper {
    transition: all 0.2s ease;
    
    &:hover {
      .icon {
        transform: scale(1.05);
        filter: brightness(1.1);
      }
      .dropdown-name {
        color: $primary-color;
        font-weight: 500;
      }
    }
  }
  
  &.active-category {
    .icon-wrapper {
      .icon {
        filter: brightness(1.1);
      }
      .dropdown-name {
        color: $primary-color;
        font-weight: 500;
      }
    }
  }
}


.category-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px 0;
}

.icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
}

@media (max-width: 767px) {
  .icon {
    display: none !important;
  }
}

.dropdown-name {
  font-size: 14px;
  color: black;
}

.active-category {
  background: $light-grey;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100vw;
  background: white;
  border: 1px solid #ddd;
  display: none;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  list-style: none;
  z-index: 9999;
}

@media (min-width: 768px) {
  .nav-item:hover .dropdown-menu,
  .nav-item:focus-within .dropdown-menu {
    display: grid;
  }
}

@media (max-width: 767px) {
  .dropdown-menu {
    position: relative;
    width: 100%;
    display: none;
    padding-left: 10px;
  }

  .nav-item.active-category .dropdown-menu {
    display: flex;
  }
}

.subcategory-item {
  position: relative;
  list-style: none;

  .dropdown-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 6px 2px 0px;
    font-size: 14px;
    color: black;
    background: rgb(243, 239, 239);
    cursor: pointer;
    transition: background 0.3s;

    &:hover {
      background: $light-grey;
    }
  }
}

.expand-icon {
  font-size: 18px;
  color: gray;
}

.child-dropdown {
  position: relative;
  left: 0;
  top: 0;
  background: white;
  border: 1px solid #949090;
  display: none;
  flex-direction: column;
  padding: 5px;
  min-width: 150px;
  list-style: none;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 767px) {
  .child-dropdown {
    width: 100% !important;
    border: 1px solid #797474;
  }

  .subcategory-item.active-subcategory .child-dropdown {
    display: flex;
  }
}

@media (min-width: 768px) {
  .subcategory-item:hover .child-dropdown {
    display: flex;
  }
}
.mega-menu {
  position: absolute;
  top: 80px;
  left: 0;
  background:white;
  padding: 20px 20px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
  border-top: 1px solid #ddd;
  z-index: 9999;
  display: flex;
  gap: 50px;
  text-align: left;
  width: max-content; // OR a fixed width like 800px
  min-width: 400px;
  max-width: 90vw;
}


.mega-column {
  display: flex;
  flex-direction: column;
}

.subcategory-title {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 10px;
  color: #070707;
  cursor: pointer;

  &:hover {
    color: $primary-color;
  }
}

.child-links {
  list-style: none;
  padding-left: 0;

  li {
    margin-bottom: 6px;

    a {
      text-decoration: none;
      font-size: 15px;
      color: #131212;

      &:hover {
        color: rgb(89, 5, 245);
      }
    }
  }
}


/* Fix z-index for deep items */
.nav-item {
  z-index: 10;

  &:nth-child(4),
  &:nth-child(5) {
    z-index: 9999;
  }
}
