* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
  scroll-behavior: smooth;
}

body {
  font-size: 16px; 
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 320px) {
  body {
    font-size: 12px;
  }
}

@media (max-width: 600px) {
  body {
    font-size: 14px; 
  }
}

@media (max-width: 768px) {
  body {
    font-size: 15px;
  } 
}

@media (max-width: 1024px) {
  body {
    font-size: 16px;
  }
}

@media (min-width: 1025px) {
  body {
    font-size: 18px; 
  }
}
