/* Common Section Styling */
.sectionSpacing {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

/* Banner Section */
.bannerSection {
    margin-top: 5px !important;
    padding: 40px 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

/* Responsive Image */
.responsiveImage {
    max-width: 100%;
    height: auto;
}

.blinkingText {
    font-size: 2rem;
    line-height: 1.6;
    font-weight: 600;
    text-align: justify;
    opacity: 0;
    animation: blinkOnce 1.5s ease-in-out forwards;
}

/* Blink Animation */
@keyframes blinkOnce {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 1; }
}

/* Background Color */
.bgCustom {
    background-color: #162e79;
}

/* Third Section Styling */
.zbLogoBannerSec {
    background: #00c1d4;
    padding: 5rem 0;
}

.thirdSectionText {
    color: white;
}

/* Square Background for Image */
.portalBgSquare {
    position: absolute;
    width: 100px;  /* Adjust size as needed */
    height: 100px;
    background-color: #00c1d4;
    top: -30px;  /* Align to top */
    left: 0; /* Align to left */
    z-index: 0; /* Ensure it's behind the image */
}

/* Wrapper for positioning */
.imageWrapper {
    position: relative;
    display: inline-block; /* Ensures proper positioning */
    z-index: 1;
}


/* Responsive Adjustments */
@media (max-width: 768px) {
    .bannerSection {
        flex-direction: column;
        text-align: center;
    }

    .blinkingText {
        font-size: 1.5rem;
    }

    .responsiveImage {
        max-width: 80%;
    }
}

@media (max-width: 480px) {
    .blinkingText {
        font-size: 1.2rem;
    }

    .responsiveImage {
        max-width: 90%;
    }
}
