.navItem {
  position: relative;
  text-align: center;
  width: 100%;
}

.w100 {
  width: 100%;
}

.navLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #333;
  transition: transform 0.3s ease-in-out;
}

.navLink:hover {
  transform: scale(1.1);
}

.navImage {
  width: 50px;
  height: 50px;
}

.dropdownMenu {
  position: var(#028a5e);
  top: 100%;
  left: 0;
  background: white;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: all 0.3s ease-in-out;
  min-width: 200px;
  list-style: none;
  z-index: 1000;
}




.subMenu {
  position: absolute;
  left: 100%;
  top: 0;
}

.navItem:hover .dropdownMenu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdownItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 15px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.dropdownItem a {
  text-decoration: none;
  color: inherit; 
  display: block;
  width: 100%;
}

.dropdownItem:hover {
  background: #f1f1f1;
}

.toggleBtn {
  background: none;
  border: none;
  cursor: pointer;
  color: #007bff;
  font-size: 14px;
  padding: 0;
}

